*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
}


.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    padding: 10px;
}

.header-image {
    width: 100%; 
    height: auto; 
    display: block;
}
img {
    display: block;
  }
  
  img:hover {
    opacity: 1.0;
  }
  


nav {
    background-color: transparent; 
    padding: 10px 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
display: flex;
flex-direction: row;
margin-top: 10px;
margin-bottom: 50px;
}

h1{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

h2 {
font-size: 56px;
line-height: 10px;
font-family: helvetica;

}

span{
    color: red;

}


p{
    line-height: 20px;
    max-width: 500px;
    font-family: helvetica;
}


.menu-image {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.menu-image img {
    height: 300px; 
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.search-box {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000; 
    margin-left: 15px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.form{
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
    display: block;
    padding: 1rem;
    background: #0072c4;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.form button:hover,
.form button:focus {
    outline: none;
    background: #09d;
    
}